## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
from IPython.display import Markdown, display
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import json
from tqdm import tqdm

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Binika,IN,75.56,few clouds,21.0333,83.8000,DISASTER ACCOMMODATION
1,3,Touros,BR,77.09,clear sky,-5.1989,-35.4608,INN NEW HORIZON
2,5,Namatanai,PG,80.02,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
3,7,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,8,Kununurra,AU,75.18,clear sky,-15.7667,128.7333,Hotel Kununurra

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Worcester"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Worcester"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Palmer"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Bethel"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Westport"]

In [16]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start=vacation_start[["Lat", "Lng"]].to_numpy()[0]
end=vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1=vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2=vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3=vacation_stop3[["Lat", "Lng"]].to_numpy()[0]
print(start, end, stop1, stop2, stop3)

[ 42.3334 -71.8328] [ 42.3334 -71.8328] [ 42.1584 -72.3287] [ 41.3712 -73.414 ] [ 41.1415 -73.3579]

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
#code from https://jupyter-gmaps.readthedocs.io/en/latest/api.html
fig = gmaps.figure()
directions = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,357,Worcester,US,71.56,scattered clouds,42.3334,-71.8328,Classic Suites & Inns
1,145,Palmer,US,76.24,clear sky,42.1584,-72.3287,Wedgewood Motel
2,178,Bethel,US,79.36,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
3,312,Westport,US,80.94,clear sky,41.1415,-73.3579,The Westport Inn

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))